
<!DOCTYPE html>
<html
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="Soartlist"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <c:set var="ctrl" value="#{soartlistController}"/>
            <h:form id="Form"><p:commandButton styleClass="noEnter" tabindex="-1" value="" onclick="return false;"/>
                <p:panel header="Soartlist">
                    <p:remoteCommand name="buttons" update="download"/>
                    <f:facet name="header">
                        <p:commandButton id="download" title="download" icon="fa fa-download" ajax="false" >
                            <p:dataExporter type="csv"  target="datalist" fileName="soartlists" pageOnly="false"/>
                        </p:commandButton>
                    </f:facet>
                     <p:dataTable allowUnsorting="true" filterEvent="change" id="datalist" value="#{ctrl.lazyModel}" var="item"
                                 editable="false" selection="#{ctrl.selected}" lazy="true"
                                 paginator="true" filteredValue="#{ctrl.filtering.filtered}"
                                 rowKey="#{ctrl.getRowKey(item.id)}" multiViewState="#{ctrl.rememberTableState}"
                                 rows="#{settings.rowsInTable}" draggableColumns="true" resizableColumns="true" liveResize="true" widgetVar="datalist"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords}"
                                 paginatorTemplate="{RowsPerPageDropdown} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                                 >

                        <ui:include src="/datatable.xhtml"/>

                        <p:column sortBy="#{item.soartlabel}" filterBy="#{item.soartlabel}" filterValue="#{ctrl.filtering.filters['soartlabel']}">
                            <f:facet name="header">
                                <h:outputText value="soartlabel"/>
                            </f:facet>
                            <h:outputText value="#{item.soartlabel}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="universaldependency code"/>
                            </f:facet>
                            <h:outputText value="#{item.universalString}"/>
                        </p:column>
                    </p:dataTable>
                </p:panel>
            </h:form>

        </ui:define>
    </ui:composition>

</html>
