<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html  xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="HolParadigma"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <c:set var="ctrl" value="#{holParadigmaController}"/>
            <h:form id="Form"><p:commandButton styleClass="noEnter" tabindex="-1" value="" onclick="return false;"/>
                <p:remoteCommand name="buttons" update="download createButton copyButton deleteButton"></p:remoteCommand>
                <p:panel id="buttonpanel">
                    <p:link href="#" onclick="saveAll();return false;" value="#{bundle.saveAll}" styleClass="saveall" title="#{bundle['saveall.msg']}"/>
                    <p:commandButton value="#{bundle.Create}" actionListener="#{ctrl.editNew('datalist')}"
                                     disabled="#{ctrl.newEntity!=null }" id="createButton" rendered="#{sessionBean.mayEdit()}"
                                     update="@this datalist" styleClass="nieuw" />
                    <p:commandButton id="copyButton" update="@this datalist" accesskey="c" rendered="#{sessionBean.mayEdit()}"  
                     value="#{bundle.Copy}" actionListener="#{ctrl.copy('datalist')}" disabled="#{empty ctrl.selected}"/>
                    <p:commandButton id="deleteButton" accesskey="d" rendered="#{sessionBean.mayEdit()}"  value="#{bundle.Delete}"
                                     oncomplete="buttons();"
                                     actionListener="#{ctrl.destroy(ctrl.toDelete())}" update="datalist" disabled="#{ctrl.disableDelete()}">
                        <p:confirm header="#{bundle.akkoord}" message="#{ctrl.deleteTitle()}" icon="fa fa-exclamation" />
                    </p:commandButton>
                    <p:commandButton id="download" title="download" icon="fa fa-download" ajax="false"  disabled="#{lazyHolParadigma.rowCount > 10000}" >
                        <p:dataExporter type="csv" target="datalist" fileName="holParadigmas" pageOnly="false"></p:dataExporter>
                    </p:commandButton>
                    <p:selectBooleanCheckbox value="#{ctrl.useOr}" itemLabel="#{bundle.of}" style="margin-left: 5px;">
                        <p:ajax update="datalist"/>
                    </p:selectBooleanCheckbox>
                </p:panel>
                <p:sticky target="buttonpanel">
                    <p:autoUpdate/>
                </p:sticky>
                <h:panelGroup>
                     <p:dataTable allowUnsorting="true" filterEvent="change" id="datalist" value="#{ctrl.lazyModel}" var="item" selection="#{ctrl.selected}" paginator="true" editable="#{sessionBean.mayEdit()}" editingRow="#{sessionBean.mayEdit()}" selectionMode="single"
                                 rowKey="#{ctrl.getRowKey(item.id)}" filteredValue="#{lazyHolParadigma.filtered}" rows="#{settings.rowsInTable}" lazy="true" draggableColumns="true" resizableColumns="true" liveResize="true"
                                 widgetVar="datalist" rowsPerPageTemplate="10,20,30,40,50" currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords}"
                                 sortMode="multiple" multiViewState="#{ctrl.rememberTableState}"
                                 paginatorTemplate="{RowsPerPageDropdown} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">
                        <ui:include src="/datatable.xhtml"/>
                        <p:column class="row-editor" exportable="false" rendered="#{sessionBean.mayEdit()}">
                            <p:rowEditor />
                        </p:column>
                        <p:column sortBy="#{item.foarm}" filterBy="#{item.foarm}" filterValue="#{lazyHolParadigma.filters['foarm']}">
                            <f:facet name="header">
                                <h:outputText value="foarm"></h:outputText>
                            </f:facet>
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText value="#{item.foarm}"></h:outputText>
                                </f:facet>
                                <f:facet name="input">
                                    <p:inputText onchange="changed($(this))" id="foarm" value="#{item.foarm}" ></p:inputText>
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column rendered="#{sessionBean.mayEdit()}" sortBy="#{item.opmerking}" filterBy="#{item.opmerking}" filterValue="#{lazyHolParadigma.filters['opmerking']}">
                            <f:facet name="header">
                                <h:outputText value="opmerking"></h:outputText>
                            </f:facet>
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText value="#{item.opmerking}"></h:outputText>
                                </f:facet>
                                <f:facet name="input">
                                    <p:inputText onchange="changed($(this))" id="opmerking" value="#{item.opmerking}" ></p:inputText>
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column sortBy="#{item.hollemma}" filterBy="#{item.hollemma}" filterValue="#{lazyHolParadigma.filters['hollemma']}">
                            <f:facet name="header">
                                <h:outputText value="hollemma"></h:outputText>
                            </f:facet>
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText value="#{item.hollemma}"></h:outputText>
                                </f:facet>
                                <f:facet name="input">
                                    <p:autoComplete onchange="changed($(this))" id="hollemma" value="#{item.hollemma}" completeMethod="#{holLemmaController.complete}"></p:autoComplete>
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column sortBy="#{item.soart}" filterBy="#{item.soart}" filterValue="#{lazyHolParadigma.filters['soart']}">
                            <f:facet name="header">
                                <h:outputText value="soart"></h:outputText>
                            </f:facet>
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText value="#{item.soart}" title="#{universaldep.universalCodes(item.soart.soartlabel)}"></h:outputText>
                                </f:facet>
                                <f:facet name="input">
                                    <p:selectOneMenu onchange="changed($(this))" id="soart" value="#{item.soart}" filter="true">
                                        <f:selectItem itemLabel="#{bundle.SelectOneMessage}"></f:selectItem>
                                        <f:selectItems value="#{soartlistController.lazyModel.load(0, 100, null, null)}" var="soartItem"
                                                       itemLabel="#{soartItem.soartlabel} (#{universaldep.universalCodes(soartItem.soartlabel)})" itemValue="#{soartItem}"></f:selectItems>
                                    </p:selectOneMenu>
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                    </p:dataTable>
                </h:panelGroup>
            </h:form>
        </ui:define>
    </ui:composition>
</html>
