<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html  xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="Synoniem"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <c:set var="ctrl" value="#{synoniemController}"/>
            <h:form id="Form"><p:commandButton styleClass="noEnter" tabindex="-1" value="" onclick="return false;"/>
                <p:remoteCommand name="buttons" update="download createButton copyButton lemmaButton"></p:remoteCommand>
                <p:panel id="buttonpanel">
                    <p:link href="#" onclick="saveAll();return false;" value="#{bundle.saveAll}" styleClass="saveall" title="#{bundle['saveall.msg']}"/>
                    <p:link onclick="PF('datalist').clearFilters();PF('datalist').filter()" value="clear filters" styleClass="saveall"/>
                    <p:commandButton value="#{bundle.Create}" actionListener="#{ctrl.editNew('datalist')}"
                                     disabled="#{ctrl.newEntity!=null }" id="createButton" rendered="#{sessionBean.mayEdit()}"
                                     update="@this datalist" styleClass="nieuw" />
                    <p:commandButton id="copyButton" update="@this datalist" accesskey="c" rendered="#{sessionBean.mayEdit()}"  
                                     value="#{bundle.Copy}" actionListener="#{ctrl.copy('datalist')}" disabled="#{empty ctrl.selected}"/>
                    <p:commandButton id="lemmaButton" value="Lemma" action="#{ctrl.showLemma(ctrl.selected)}" disabled="#{empty ctrl.selected}"/>
                    <p:commandButton id="download" title="download" icon="fa fa-download" ajax="false"  disabled="#{lazySynoniem.rowCount > 10000}">
                        <p:dataExporter type="csv" target="datalist" fileName="synoniems" pageOnly="false"></p:dataExporter>
                    </p:commandButton>
                    <p:selectBooleanCheckbox value="#{ctrl.useOr}" itemLabel="#{bundle.of}" style="margin-left: 5px;">
                        <p:ajax update="datalist"/>
                    </p:selectBooleanCheckbox>
                </p:panel>
                <p:sticky target="buttonpanel">
                    <p:autoUpdate/>
                </p:sticky>
                <h:panelGroup>
                     <p:dataTable allowUnsorting="true" filterEvent="change" id="datalist" value="#{ctrl.lazyModel}" var="item"
                                 selection="#{ctrl.selected}" sortMode="multiple" selectionMode="single"
                                 paginator="true" editable="#{sessionBean.mayEdit()}" editingRow="#{sessionBean.mayEdit()}"
                                 rowKey="#{ctrl.getRowKey(item.id)}" filteredValue="#{lazySynoniem.filtered}"
                                 rows="#{settings.rowsInTable}" lazy="true" draggableColumns="true" resizableColumns="true" liveResize="true" widgetVar="datalist"
                                 rowsPerPageTemplate="10,20,30,40,50" multiViewState="#{ctrl.rememberTableState}"
                                 currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords}"
                                 paginatorTemplate="{RowsPerPageDropdown} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">
                        <ui:include src="/datatable.xhtml"/>

                        <p:column class="row-editor" exportable="false" rendered="#{sessionBean.mayEdit()}">
                            <p:rowEditor />
                        </p:column>
                        <p:column rendered="#{sessionBean.mayEdit()}" sortBy="#{item.id}" filterBy="#{item.id}" filterValue="#{lazySynoniem.filters['id']}">
                            <f:facet name="header">
                                <h:outputText value="id"/>
                            </f:facet>
                            <f:facet name="filter">
                                <p:inputText value="#{lazySynoniem.filters['id']}" onchange="PF('datalist').filter();" style="max-width: 60px"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <p:column rendered="#{sessionBean.mayEdit()}" style="width: 100px">
                            <p:selectOneButton value="#{synoniemController.del}">
                                <f:selectItem itemLabel="del" itemValue="true"/>
                                <f:selectItem itemLabel="ok" itemValue="false"/>
                                <p:ajax update="datalist" listener="#{synoniemController.jaNee(item)}"/>
                            </p:selectOneButton>
                        </p:column>
                        <p:column rendered="#{sessionBean.mayEdit()}" sortBy="#{item.ok}" filterBy="#{item.ok}" filterValue="#{lazySynoniem.filters['ok']}" style="width: 50px">
                            <f:facet name="filter">
                                <p:triStateCheckbox value="#{lazySynoniem.filters['ok']}" onchange="PF('datalist').filter();" />
                            </f:facet>
                            <f:facet name="header">
                                <h:outputText value="ok?"/>
                            </f:facet>
                            <h:outputText value="#{item.ok}"/>
                        </p:column>
                        <p:column sortBy="#{item.lemma}" filterBy="#{item.lemma}" filterValue="#{lazySynoniem.filters['lemma']}" style="width: 230px">
                            <f:facet name="header">
                                <h:outputText value="lemma"></h:outputText>
                            </f:facet>
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText  value="#{item.lemma}"></h:outputText>
                                </f:facet>
                                <f:facet name="input">
                                    <p:autoComplete onchange="changed($(this))"  id="lemma" value="#{item.lemma}" completeMethod="#{lemmaController.complete}" style="max-width: 200px"/>
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column sortBy="#{item.vorm}" filterBy="#{item.vorm}" filterValue="#{lazySynoniem.filters['vorm']}" style="width: 230px">
                            <f:facet name="header">
                                <h:outputText value="synoniem"></h:outputText>
                            </f:facet>
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText value="#{item.vorm}"></h:outputText>
                                </f:facet>
                                <f:facet name="input">
                                    <p:inputText onchange="changed($(this))" id="vorm" value="#{item.vorm}"   style="max-width: 200px"/>
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column  filterBy="#{item.betekenis}" filterValue="#{lazySynoniem.filters['betekenis']}">
                            <f:facet name="header">
                                <h:outputText value="betekenis"/>
                            </f:facet>
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText value="#{item.betekenis}"/>
                                </f:facet>
                                <f:facet name="input">
                                    <p:inputTextarea onchange="changed($(this))" id="betekenis" value="#{item.betekenis}"  />
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column  filterBy="#{item.opmerking}" filterValue="#{lazySynoniem.filters['opmerking']}">
                            <f:facet name="header">
                                <h:outputText value="opmerking"/>
                            </f:facet>
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText value="#{item.opmerking}"/>
                                </f:facet>
                                <f:facet name="input">
                                    <p:inputTextarea onchange="changed($(this))" id="opmerking" value="#{item.opmerking}"  />
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                    </p:dataTable>
                </h:panelGroup>
            </h:form>
        </ui:define>
    </ui:composition>
</html>
