
<!DOCTYPE html>
<html
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="Lemma"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <c:set var="ctrl" value="#{lemmaController}"/>
            <h:form id="Form"><p:commandButton styleClass="noEnter" tabindex="-1" value="" onclick="return false;"/>
                <p:remoteCommand name="buttons" update="buttonpanel"/>
                <p:panel id="buttonpanel">
                    <p:link href="#" onclick="saveAll();return false;" value="#{bundle.saveAll}" styleClass="saveall" title="#{bundle['saveall.msg']}"/>
                    <p:link onclick="PF('datalist').clearFilters();PF('datalist').filter()" value="clear filters" styleClass="saveall"/>
                    <p:commandButton value="#{bundle.Create}" actionListener="#{ctrl.editNew('datalist')}"
                                     disabled="#{ctrl.newEntity!=null }" id="createButton" rendered="#{sessionBean.mayEdit()}"
                                     update="@this datalist" styleClass="nieuw" />
                    <p:commandButton id="copyButton" update="@this datalist" accesskey="c" rendered="#{sessionBean.mayEdit()}"  
                     value="#{bundle.Copy}" actionListener="#{ctrl.copy('datalist')}" disabled="#{empty ctrl.selected}"/>
                    <p:commandButton id="synButton"    value="#{bundle.Syn}" action="#{ctrl.showSynoniemen(ctrl.selected)}" disabled="#{empty ctrl.selected}"/>
                    <p:commandButton id="hollButton"    value="#{bundle.Holl}" action="#{ctrl.showHollemmas(ctrl.selected)}" disabled="#{empty ctrl.selected}"/>
                    <p:commandButton id="partsButton"    value="#{bundle.parts}" action="#{ctrl.showParts(ctrl.selected)}" disabled="#{empty ctrl.selected}"/>
                    <p:commandButton id="unused" rendered="#{sessionBean.mayEdit()}"  value="#{bundle.Unused}" update=":UnusedViewForm" oncomplete="PF('UnusedViewDialog').show()"/>
                    <p:commandButton id="notFound" rendered="#{sessionBean.mayEdit()}"  value="#{bundle.NotFound}" update=":NotFoundViewForm" oncomplete="PF('NotFoundViewDialog').show()"/>
                    <p:commandButton id="newParButton" rendered="#{sessionBean.mayEdit()}"  value="#{bundle.Create} Paradigma"
                                     actionListener="#{lemmaController.generateParadigm(ctrl.selected)}" disabled="#{empty ctrl.selected}">
                        <p:confirm header="#{bundle.akkoord}" message="#{bundle.vervang} Paradigma: #{ctrl.selected}?" icon="fa fa-exclamation" />
                    </p:commandButton>
                    <p:commandButton id="download" title="download" icon="fa fa-download" ajax="false" disabled="#{lazyLemma.rowCount > 10000}">
                        <p:dataExporter type="csv"  target="datalist" fileName="lemmas" pageOnly="false"/>
                    </p:commandButton>
                    <p:selectBooleanCheckbox value="#{ctrl.useOr}" itemLabel="#{bundle.of}" style="margin-left: 5px;">
                        <p:ajax update="datalist"/>
                    </p:selectBooleanCheckbox>
                </p:panel>
                <p:sticky target="buttonpanel">
                    <p:autoUpdate/>
                </p:sticky>
                <p:panelGrid columns="2" columnClasses="leftidx,rightidx">
                    <p:outputPanel>
                    filter:
                    <p:inputText value="#{ctrl.idxFilter}" id="idxFilter">
                        <p:ajax update="idx"/>
                    </p:inputText><br/>
                    <p:dataScroller id="idx" value="#{ctrl.index()}" chunkSize="50" lazy="true" var="l" mode="inline" scrollHeight="500">
                        <f:facet name="header">Yndeks</f:facet>

                        <p:commandLink value="#{l}" onstart="PF('datalist').clearFilters();$('#Form\\\\:datalist\\\\:formfilter\\\\:filter').val('#{l}')" oncomplete="PF('datalist').filter()"/>

<!--                        <f:facet name="loader">
                            <p:commandButton type="button" value="View More" />
                        </f:facet>-->
                    </p:dataScroller>
                    </p:outputPanel>
                     <p:dataTable allowUnsorting="true" filterEvent="change" id="datalist" value="#{ctrl.lazyModel}" var="item"
                                 selection="#{ctrl.selected}" sortMode="multiple" selectionMode="single"
                                 paginator="true" editable="#{sessionBean.mayEdit()}" editingRow="#{sessionBean.mayEdit()}" 
                                 rowKey="#{ctrl.getRowKey(item.id)}" filteredValue="#{lazyLemma.filtered}"
                                 rows="#{settings.rowsInTable}" lazy="true" draggableColumns="true" resizableColumns="true" liveResize="true" widgetVar="datalist"
                                 rowsPerPageTemplate="10,20,30,40,50" multiViewState="#{ctrl.rememberTableState}"
                                 currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords}"
                                 paginatorTemplate="{RowsPerPageDropdown} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                                 >

                        <ui:include src="/datatable.xhtml"/>

                        <p:column class="row-editor" exportable="false" rendered="#{sessionBean.mayEdit()}">
                            <p:rowEditor />
                        </p:column>

                        <p:column rendered="#{sessionBean.mayEdit()}" sortBy="#{item.id}" filterBy="#{item.id}" filterValue="#{lazyLemma.filters['id']}">
                            <f:facet name="header">
                                <h:outputText value="id"/>
                            </f:facet>
                            <f:facet name="filter">
                                <p:inputText value="#{lazyLemma.filters['id']}" onchange="PF('datalist').filter();" style="max-width: 60px"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                            <p:commandButton icon="fa fa-bars" title="nei paradigma" action="#{ctrl.showParadigmas(item)}" style="float: right"/>                            
                        </p:column>
                        <p:column rendered="#{sessionBean.mayEdit()}" sortBy="#{item.neisjoen}" filterBy="#{item.neisjoen}" filterValue="#{lazyLemma.filters['neisjoen']}" width="50px">
                            <f:facet name="filter">
                                <p:triStateCheckbox value="#{lazyLemma.filters['neisjoen']}" onchange="PF('datalist').filter();" />
                            </f:facet>
                            <f:facet name="header">
                                <h:outputText value="ok?"/>
                            </f:facet>
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText value="#{item.neisjoen}"/>
                                </f:facet>
                                <f:facet name="input">
                                    <h:inputHidden value="#{item.neisjoen}"/>
                                    <h:selectBooleanCheckbox onchange="changed($(this))" id="neisjoen" onclick="$(this).prev().val(this.checked)" value="#{item.neisjoen}" required="true" requiredMessage="#{bundle.Required}"/>
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column headerText="publish?" rendered="#{sessionBean.mayEdit()}" sortBy="#{item.publish}" filterBy="#{item.publish}" filterValue="#{lazyLemma.filters['publish']}" width="50px">
                            <f:facet name="filter">
                                <p:triStateCheckbox value="#{lazyLemma.filters['publish']}" onchange="PF('datalist').filter();" />
                            </f:facet>
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText value="#{item.publish}"/>
                                </f:facet>
                                <f:facet name="input">
                                    <h:inputHidden value="#{item.publish}"/>
                                    <h:selectBooleanCheckbox onchange="changed($(this))" id="publish" onclick="$(this).prev().val(this.checked)" value="#{item.publish}" required="true" requiredMessage="#{bundle.Required}"/>
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column headerText="std?" sortBy="#{item.standert}" filterBy="#{item.standert}" filterValue="#{lazyLemma.filters['standert']}" width="50px">
                            <f:facet name="filter">
                                <p:triStateCheckbox value="#{lazyLemma.filters['standert']}" onchange="PF('datalist').filter();" />
                            </f:facet>
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText value="#{item.standert}"/>
                                </f:facet>
                                <f:facet name="input">
                                    <h:inputHidden value="#{item.standert}"/>
                                    <h:selectBooleanCheckbox onchange="changed($(this))" onclick="$(this).prev().val(this.checked)" id="standert" value="#{item.standert}" required="true" requiredMessage="#{bundle.Required}"/>
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column sortBy="#{item.foarm}" filterBy="#{item.foarm}" filterValue="#{lazyLemma.filters['foarm']}" id="formfilter">
                            <f:facet name="header">
                                <h:outputText value="foarm"/>
                            </f:facet>
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText value="#{item.foarm}"/>
                                </f:facet>
                                <f:facet name="input">
                                    <p:inputText onchange="changed($(this))" id="foarm" value="#{item.foarm}"  />
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column filterBy="#{item.prefix}" filterValue="#{lazyLemma.filters['prefix']}" width="80px">
                            <f:facet name="header">
                                <h:outputText value="prefix"/>
                            </f:facet>
                            <f:facet name="filter">
                                <p:inputText value="#{lazyLemma.filters['prefix']}" onchange="PF('datalist').filter();" />
                            </f:facet>
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText value="#{item.prefix}"/>
                                </f:facet>
                                <f:facet name="input">
                                    <p:inputText onchange="changed($(this))" id="prefix" value="#{item.prefix}" />
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column sortBy="#{item.homnum}" filterBy="#{item.homnum}" filterValue="#{lazyLemma.filters['homnum']}" width="60px">
                            <f:facet name="header">
                                <h:outputText value="hom"/>
                            </f:facet>
                            <f:facet name="filter">
                                <p:inputText value="#{lazyLemma.filters['homnum']}" onchange="PF('datalist').filter();"/>
                            </f:facet>
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText value="#{item.homnum}"/>
                                </f:facet>
                                <f:facet name="input">
                                    <p:inputText onchange="changed($(this))" id="homnum" value="#{item.homnum}" />
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column sortBy="#{item.soart}" filterBy="#{item.soart}" filterValue="#{lazyLemma.filters['soart']}" width="290px">
                            <f:facet name="header">
                                <h:outputText value="soart"/>
                            </f:facet>
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText value="#{item.soart}" title="#{universaldep.universalCodes(item.soart)}"/>
                                </f:facet>
                                <f:facet name="input">
                                    <p:selectOneMenu onchange="changed($(this))" id="soart" value="#{item.soart}">
                                        <f:selectItem itemLabel="#{bundle.SelectOneMessage}" value="#{null}"></f:selectItem>
                                        <f:selectItems value="#{ctrl.soarten}" var="soartItem" itemLabel="#{soartItem} (#{universaldep.universalCodes(soartItem)})" itemValue="#{soartItem}"></f:selectItems>
                                    </p:selectOneMenu>
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column sortBy="#{item.article}" filterBy="#{item.article}" filterValue="#{lazyLemma.filters['article']}" style="max-width: 80px">
                            <f:facet name="header">
                                <h:outputText value="lidwurd"/>
                            </f:facet>
                            <h:outputText value="#{item.article}"/>
                        </p:column>
                        <p:column sortBy="#{item.betsj}" filterBy="#{item.betsj}" filterValue="#{lazyLemma.filters['betsj']}">
                            <f:facet name="header">
                                <h:outputText value="betsj"/>
                            </f:facet>
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText value="#{item.betsj}"/>
                                </f:facet>
                                <f:facet name="input">
                                    <p:inputText onchange="changed($(this))" id="betsj" value="#{item.betsj}"  />
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column headerText="fariant?" sortBy="#{item.hatfariant}" filterBy="#{item.hatfariant}" filterValue="#{lazyLemma.filters['hatfariant']}" width="60px">
                            <f:facet name="filter">
                                <p:triStateCheckbox value="#{lazyLemma.filters['hatfariant']}" onchange="PF('datalist').filter();" />
                            </f:facet>
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText value="#{item.hatfariant}"/>
                                </f:facet>
                                <f:facet name="input">
                                    <h:inputHidden value="#{item.hatfariant}"/>
                                    <h:selectBooleanCheckbox onchange="changed($(this))" onclick="$(this).prev().val(this.checked)" id="hatfariant" value="#{item.hatfariant}" required="true" requiredMessage="#{bundle.Required}"/>
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column sortBy="#{item.stdlemId}" filterBy="#{item.stdlemId}" filterValue="#{lazyLemma.filters['stdlemId']}">
                            <f:facet name="header">
                                <h:outputText value="stdlemId"/>
                            </f:facet>
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText  value="#{item.stdlemId}"/>
                                </f:facet>
                                <f:facet name="input">
                                    <p:autoComplete onchange="changed($(this))"  id="stdlemId" value="#{item.stdlemId}" style="width: 80% !important;" completeMethod="#{ctrl.complete}"/>
                                    <p:commandButton icon="fa fa-link" title="nei #{item.stdlemId.foarm}" style="float: right"
                                                     onstart="PF('datalist').clearFilters();$('#Form\\\\:datalist\\\\:formfilter\\\\:filter').val('#{item.stdlemId.foarm}')" oncomplete="PF('datalist').filter()"
                                                      rendered="#{not empty item.stdlemId}"/>
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column rendered="#{sessionBean.mayEdit()}" style="width: 40px">
                            <p:commandButton icon="fa fa-trash" actionListener="#{ctrl.destroy(item)}" update="datalist">
                                <p:confirm header="#{bundle.akkoord}" message="#{ctrl.deleteTitle()}" icon="fa fa-exclamation" />
                            </p:commandButton>
                        </p:column>
                    </p:dataTable>
                </p:panelGrid>
            </h:form>

            <ui:include src="Unused.xhtml"/>
            <ui:include src="not_found.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
