
<!DOCTYPE html>
<html
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog rendered="#{sessionBean.mayEdit()}" closeOnEscape="true" id="NotFoundViewDlg" minimizable="true" width="400px" widgetVar="NotFoundViewDialog" appendTo="@(body)" header="#{bundle.NotFound}">
            <h:form id="NotFoundViewForm"><p:commandButton styleClass="noEnter" tabindex="-1" value="" onclick="return false;"/>
                <p:commandButton id="refresh" icon="fa fa-refresh" value="&#160;" update=":NotFoundViewForm" actionListener="#{lemmaController.refreshNotFound()}"/>
                <p:dataTable allowUnsorting="true" filterEvent="change"
                            value="#{lemmaController.findNotFound()}" var="l" scrollable="true" scrollHeight="400" scrollRows="20">
                    <f:facet name="header">totaal #{lemmaController.findNotFound().size()}</f:facet>
                   <p:column >
                       <p:commandButton icon="fa fa-trash" actionListener="#{lemmaController.crudWriteService.delete(l)}"
                                        oncomplete="$('#NotFoundViewForm\\:refresh').click()"/>
                       <p:commandButton value="#{bundle.Create}" actionListener="#{lemmaController.editNew('datalist',l.foarm)}"
                                        disabled="#{lemmaController.newEntity!=null}" id="newFromNotFound" rendered="#{sessionBean.mayEdit()}"
                                        update="Form:datalist" styleClass="nieuw" oncomplete="PF('NotFoundViewDialog').hide()"/>
                   </p:column>
                   <p:column filterBy="#{l.foarm}" sortBy="#{l.foarm}">
                       <h:outputText value="#{l.foarm}"/>
                   </p:column>
               </p:dataTable>
                    
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
