
<!DOCTYPE html>
<html
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui" xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition>

        <p:dialog closeOnEscape="true" rendered="#{sessionBean.mayEdit()}" id="UnsedViewDlg" minimizable="true" width="400px" widgetVar="UnusedViewDialog" appendTo="@(body)" header="Lemmas with unconnected variants">
            <h:form id="UnusedViewForm"><p:commandButton styleClass="noEnter" tabindex="-1" value="" onclick="return false;"/>
                <p:commandButton id="refresh" icon="fa fa-refresh" value="&#160;" update=":UnusedViewForm" actionListener="#{lemmaController.refreshUnused()}"/>
                <p:dataTable allowUnsorting="true" filterEvent="change"
                             value="#{lemmaController.findUnusedStandert()}" var="l" scrollable="true" scrollHeight="400" scrollRows="20">
                    <f:facet name="header">totaal #{lemmaController.findUnusedStandert().size()}</f:facet>
                   <p:column filterBy="#{l.foarm}" sortBy="#{l.foarm}">
                       <h:outputText value="#{l}"/>
                   </p:column>
               </p:dataTable>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
