
<!DOCTYPE html>
<html
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:composition template="/template.xhtml">

        <ui:define name="title">
            <h:outputText value="Paradigma"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <c:set var="ctrl" value="#{paradigmaController}"/>
            <h:form id="Form"><p:commandButton styleClass="noEnter" tabindex="-1" value="" onclick="return false;"/>
                <p:remoteCommand name="buttons" update="download createButton deleteButton copyButton copyHyph"/>
                <p:panel id="buttonpanel">
                    <p:link href="#" onclick="saveAll();return false;" value="#{bundle.saveAll}" styleClass="saveall" title="#{bundle['saveall.msg']}"/>
                    <p:link onclick="PF('datalist').clearFilters();PF('datalist').filter()" value="clear filters" styleClass="saveall"/>
                    <p:commandButton value="#{bundle.Create}" actionListener="#{ctrl.editNew('datalist')}"
                                     disabled="#{ctrl.newEntity!=null }" id="createButton" rendered="#{sessionBean.mayEdit()}"
                                     update="@this datalist" styleClass="nieuw" />
                    <p:commandButton id="copyButton" update="@this datalist" accesskey="c" rendered="#{sessionBean.mayEdit()}"
                     value="#{bundle.Copy}" actionListener="#{ctrl.copy('datalist')}" disabled="#{empty ctrl.selected}"/>

                    <p:commandButton id="download" title="download" icon="fa fa-download" ajax="false"  disabled="#{lazyParadigma.rowCount > 10000}">
                        <p:dataExporter type="csv"  target="datalist" fileName="paradigmas" pageOnly="false" />
                    </p:commandButton>
                    <p:commandButton id="copyHyph" accesskey="h" rendered="#{sessionBean.mayEdit()}"  value="kopie ôfbr."
                                     title="bewarje rigel, kopiearje ôfbr. nei elke foarm fan it lemma"
                                     actionListener="#{ctrl.copyHyphenation(ctrl.selected.lemmaId,ctrl.selected.ofbrekking)}"
                                     disabled="#{empty ctrl.selected}" update="datalist"/>
                    <p:selectBooleanCheckbox value="#{ctrl.useOr}" itemLabel="#{bundle.of}" style="margin-left: 5px;">
                        <p:ajax update="datalist"/>
                    </p:selectBooleanCheckbox>
                </p:panel>
                <p:sticky target="buttonpanel">
                    <p:autoUpdate/>
                </p:sticky>
                <h:panelGroup>
                    <p:outputLabel value="#{bundle.GeneratedForms}"/>
                     <p:dataTable allowUnsorting="true" filterEvent="change" id="datalist" value="#{ctrl.lazyModel}" var="item"
                                 selection="#{ctrl.selected}" sortMode="multiple" selectionMode="single"
                                 paginator="true" editable="#{sessionBean.mayEdit()}" editingRow="#{sessionBean.mayEdit()}"
                                 rowKey="#{ctrl.getRowKey(item.id)}" filteredValue="#{lazyParadigma.filtered}"
                                 rows="#{settings.rowsInTable}" lazy="true" draggableColumns="true" resizableColumns="true" liveResize="true" widgetVar="datalist"
                                 rowsPerPageTemplate="10,20,30,40,50" multiViewState="#{ctrl.rememberTableState}"
                                 currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords}"
                                 paginatorTemplate="{RowsPerPageDropdown} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                                 >

                        <ui:include src="/datatable.xhtml"/>

                        <p:column class="row-editor" exportable="false" rendered="#{sessionBean.mayEdit()}">
                            <p:rowEditor/>
                        </p:column>
                        <p:column rendered="#{sessionBean.mayEdit()}" sortBy="#{item.id}" filterBy="#{item.id}" filterValue="#{lazyParadigma.filters['id']}">
                            <f:facet name="header">
                                <h:outputText value="id"/>
                            </f:facet>
                            <f:facet name="filter">
                                <p:inputText value="#{lazyParadigma.filters['id']}" onchange="PF('datalist').filter();" style="max-width: 60px"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <p:column sortBy="#{item.foarm}" filterBy="#{item.foarm}" filterValue="#{lazyParadigma.filters['foarm']}">
                            <f:facet name="header">
                                <h:outputText value="foarm"/>
                            </f:facet>
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText value="#{item.foarm}"/>
                                </f:facet>
                                <f:facet name="input">
                                    <p:inputText onchange="changed($(this))" id="foarm" value="#{item.foarm}"  />
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column sortBy="#{item.pron}" filterBy="#{item.pron}" filterValue="#{lazyParadigma.filters['pron']}">
                            <f:facet name="header">
                                <h:outputText value="ipa"/>
                            </f:facet>
                            <h:outputText value="#{item.pron}"/>
                        </p:column>
                        <p:column filterBy="#{item.splitfoarm}" filterValue="#{lazyParadigma.filters['splitfoarm']}">
                            <f:facet name="filter">
                                <p:triStateCheckbox value="#{lazyLemma.filters['splitfoarm']}" onchange="PF('datalist').filter();"/>
                            </f:facet>
                            <f:facet name="header">
                                <h:outputText value="splitfoarm"/>
                            </f:facet>
                            <h:outputText value="#{item.splitfoarm}"/>
                        </p:column>
                        <p:column sortBy="#{item.std}" filterBy="#{item.std}" filterValue="#{lazyParadigma.filters['std']}">
                            <f:facet name="filter">
                                <p:triStateCheckbox value="#{lazyLemma.filters['std']}" onchange="PF('datalist').filter();" />
                            </f:facet>
                            <f:facet name="header">
                                <h:outputText value="std"/>
                            </f:facet>
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText value="#{item.std}"/>
                                </f:facet>
                                <f:facet name="input">
                                    <h:inputHidden value="#{item.std}"/>
                                    <h:selectBooleanCheckbox onchange="changed($(this))" id="std" onclick="$(this).prev().val(this.checked)" value="#{item.std}" required="true" requiredMessage="#{bundle.Required}"/>
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column filterBy="#{item.linguistics}" filterValue="#{lazyParadigma.filters['linguistics']}"
                        filterFunction="#{paradigmaController.filterLinguistics}" style="width: 270px">
                            <f:facet name="header">
                                <h:outputText value="soarten"/>
                            </f:facet>
                            <h:outputText  value="#{paradigmaController.showUniversal(item)}" title="#{item.showSoarten()}"/>
                            <p:commandButton icon="fa fa-edit" style="float: right" process="@this" actionListener="#{paradigmaController.setSelected(item)}"
                                     update=":ParadigmaSoartenForm" title="nei soarten"
                                     oncomplete="PF('ParadigmaSoartenDialog').show()"/>                        </p:column>
                        <p:column sortBy="#{item.ofbrekking}" filterBy="#{item.ofbrekking}" filterValue="#{lazyParadigma.filters['ofbrekking']}">
                            <f:facet name="header">
                                <h:outputText value="ofbrekking"/>
                            </f:facet>
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText value="#{item.ofbrekking}"/>
                                </f:facet>
                                <f:facet name="input">
                                    <p:inputText onchange="changed($(this))" id="ofbrekking" value="#{item.ofbrekking}"  />
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column rendered="#{sessionBean.mayEdit()}" filterBy="#{item.ofbneisjoen}" filterValue="#{lazyParadigma.filters['ofbneisjoen']}">
                            <f:facet name="filter">
                                <p:triStateCheckbox value="#{lazyLemma.filters['ofbneisjoen']}" onchange="PF('datalist').filter();"/>
                            </f:facet>
                            <f:facet name="header">
                                <h:outputText value="parneisjoen"/>
                            </f:facet>
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText value="#{item.ofbneisjoen}"/>
                                </f:facet>
                                <f:facet name="input">
                                    <h:inputHidden value="#{item.ofbneisjoen}"/>
                                    <h:selectBooleanCheckbox onchange="changed($(this))" id="parneisjoen" onclick="$(this).prev().val(this.checked)" value="#{item.ofbneisjoen}" required="true" requiredMessage="#{bundle.Required}"/>
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column sortBy="#{item.lemmaId}" filterBy="#{item.lemmaId}" filterValue="#{lazyParadigma.filters['lemmaId']}">
                            <f:facet name="header">
                                <h:outputText value="lemmaId"/>
                            </f:facet>
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText  value="#{item.lemmaId}"/>
                                </f:facet>
                                <f:facet name="input">
                                    <p:autoComplete onchange="changed($(this))" id="lemmaId" value="#{item.lemmaId}" completeMethod="#{lemmaController.complete}" style="width: 85% !important;"    />
                                    <p:commandButton process="@this" icon="fa fa-link" action="#{paradigmaController.showLemma(item)}" style="float: right"/>
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column rendered="#{sessionBean.mayEdit()}" sortBy="#{item.frekw}" filterBy="#{item.frekw}" filterValue="#{lazyParadigma.filters['frekw']}">
                            <f:facet name="header">
                                <h:outputText value="frekw"/>
                            </f:facet>
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText value="#{item.frekw}"/>
                                </f:facet>
                                <f:facet name="input">
                                    <p:inputText onchange="changed($(this))" id="frekw" value="#{item.frekw}"  />
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column rendered="#{sessionBean.mayEdit()}">
                            <f:facet name="header">
                                <h:outputText value="opmerking"/>
                            </f:facet>
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText value="#{item.opmerking}"/>
                                </f:facet>
                                <f:facet name="input">
                                    <p:inputText onchange="changed($(this))" id="opmerking" value="#{item.opmerking}"  />
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column rendered="#{sessionBean.mayEdit()}" style="width: 40px">
                            <p:commandButton icon="fa fa-trash" actionListener="#{ctrl.destroy(item)}" update="datalist">
                                <p:confirm header="#{bundle.akkoord}" message="#{ctrl.deleteTitle()}" icon="fa fa-exclamation" />
                            </p:commandButton>
                        </p:column>
                    </p:dataTable>
                </h:panelGroup>
            </h:form>

            <ui:include src="Soarten.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
