
<!DOCTYPE html>
<html
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog closeOnEscape="true" id="ParadigmaSoartenDlg" widgetVar="ParadigmaSoartenDialog"
                  modal="true" resizable="true" appendTo="@(body)" header="Kies soarten">
            <h:form id="ParadigmaSoartenForm"><p:commandButton styleClass="noEnter" tabindex="-1" value="" onclick="return false;"/>
                <h:panelGroup id="display">
                    <p:panelGrid columns="1" rendered="#{paradigmaController.selected != null}">
                        <p:pickList value="#{paradigmaController.pickSoarten}" showSourceFilter="true" escape="false"
                                    var="soartlist" filterMatchMode="contains" itemLabel="#{soartlist.soartlabel}"
                                    itemValue="#{soartlist}" converter="#{soartlistConverter}" >
                            <p:ajax event="transfer" update="Form:datalist" listener="#{paradigmaController.onTransfer}"/>
                            <p:column>
                                <h:outputText value="#{soartlist.soartlabel}" title="#{soartlist.getUniversalString()}"/>
                            </p:column>
                        </p:pickList>
                    </p:panelGrid>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
