<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html
      xmlns:p="http://primefaces.org/ui"
>
    <p:ajax event="colResize" />
    <p:ajax event="colReorder" />
    <p:ajax event="sort" />
    <p:ajax event="page"  oncomplete="PF('datalist').unselectAllRows();buttons();"/>
    <p:ajax event="filter"  oncomplete="PF('datalist').unselectAllRows();buttons();"/>
    <p:ajax event="rowSelect" partialSubmitFilter=":input:first" listener="#{ctrl.onRowSelect}"  oncomplete="buttons();"/>
    <p:ajax event="rowSelectRadio" partialSubmitFilter=":input:first" listener="#{ctrl.onRowSelect}"  oncomplete="buttons();"/>
    <p:ajax event="rowEdit" listener="#{ctrl.save}" update="@(.nieuw)" />
    <p:ajax event="rowEditCancel" listener="#{ctrl.cancelRow}" update="@(.nieuw)" />

</html>
