<!DOCTYPE html>
<html
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:p="http://primefaces.org/ui"
>

<body>

<h2>Mogelijke oplossingen:</h2>
<ul>
    <li><p:link value="Terug" href="#" onclick="history.back()"/> en dan verversen met F5</li>
    <li><p:link value="Naar home" href="#{request.contextPath}"/> en dan verversen met F5</li>
    <li>
        <h:form>
            <p:commandButton ajax="false" value="Opnieuw inloggen" actionListener="#{sessionBean.logout()}"/>
        </h:form>
    </li>
</ul>
<h2>stuur evt. de details naar edrenth at fryske-akademy nl</h2>
<h3>Details van de laatst opgetreden fout:</h3>

<h:outputText value="#{pfExceptionHandler.formattedStackTrace}" escape="false"/>

</body>

</html>