<!DOCTYPE html>
<html
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
>
    <p:hotkey bind="Down" handler="rowdown();"/>
    <p:hotkey bind="Up" handler="rowup();"/>
    <p:hotkey bind="Right" handler="nextPage();"/>
    <p:hotkey bind="Left" handler="prevPage();"/>
    <p:remoteCommand name="datarefresh" update="Form:datalist"/>
    <p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
        <p:commandButton title="ja / ok" value="Ja" type="button" styleClass="ui-confirmdialog-yes" icon="fa fa-check"/>
        <p:commandButton title="nee / annuleer" value="Nee" type="button" styleClass="ui-confirmdialog-no" icon="fa fa-close"/>
    </p:confirmDialog>
    <h:form id="menuform"><p:commandButton styleClass="noEnter" tabindex="-1" value="" onclick="return false;"/>
        <p:menubar id="menu" styleClass="topmenu" style="width: 100%">
            <p:menuitem value="Lemma" outcome="/lemma/List.xhtml" class="#{request.requestURI.contains('lemma') || !request.requestURI.contains('List') ? 'current' : ''}"/>
            <p:menuitem value="Paradigma" outcome="/paradigma/List.xhtml" class="#{request.requestURI.contains('paradigma') ? 'current' : ''}"/>
            <p:menuitem value="Synonym" outcome="/synoniem/List.xhtml" class="#{request.requestURI.contains('synoniem') ? 'current' : ''}"/>
            <p:menuitem value="LemmaParts" outcome="/parts/List.xhtml" class="#{request.requestURI.contains('parts') ? 'current' : ''}"/>
            <p:menuitem value="HolLemma" outcome="/holLemma/List.xhtml" class="#{request.requestURI.contains('holLemma') ? 'current' : ''}"/>
            <p:menuitem value="HolParadigma" outcome="/holParadigma/List.xhtml" class="#{request.requestURI.contains('holParadigma') ? 'current' : ''}"/>
            <p:menuitem value="Soartlist" outcome="/soartlist/List.xhtml" class="#{request.requestURI.contains('soartlist') ? 'current' : ''}"/>
            <p:menuitem value="Linguistics" outcome="/lingval/List.xhtml" class="#{request.requestURI.contains('lingval') ? 'current' : ''}"/>
            <p:submenu icon="fa fa-gear" label="instellingen" styleClass="options">
                <p:menuitem ajax="false" title="logout" value="uitloggen" icon="fa fa-power-off"
                            actionListener="#{sessionBean.logout()}"/>
                <p:submenu label="thema">
                    <c:forEach items="#{sessionBean.themes}" var="t">
                        <p:menuitem value="#{sessionBean.getCurrentTheme()==t? '* ' : ''}#{t}" update="menuform" actionListener="#{sessionBean.theme(t)}"
                                    onsuccess="location.replace(location.href)"/>
                    </c:forEach>
                </p:submenu>
                <p:menuitem onclick="alert('#{sessionBean.versionInfo()}'); return false;" url="#" value="versie info"/>
                <p:menuitem value="errors" icon="fa-exclamation-triangle fa"
                            onclick="toggleDialog('exceptionDialog');"/>
                <p:menuitem title="zoeken en melden van wensen en problemen"
                            url="https://bitbucket.org/fryske-akademy/foarkarswurdlist/issues?status=new&amp;status=open&amp;sort=-priority"
                            value="technische problemen" />
                <p:submenu label="pronunciation">
                    <p:menuitem title="update pronunciation"
                                value="update pron (progress: #{paradigmPronunciation.progress()})"
                                update="menuform" actionListener="#{paradigmPronunciation.addPronToParadigmForm(false)}"/>
                    <p:menuitem title="add missing pronunciation"
                                value="add missing pron (progress: #{paradigmPronunciation.progress()})"
                                update="menuform" actionListener="#{paradigmPronunciation.addPronToParadigmForm(true)}"/>
                    <p:menuitem title="stop adding/updating pronunciation"
                                value="stop"
                                update="menuform" actionListener="#{paradigmPronunciation.stop()}"/>                    
                </p:submenu>
                <p:submenu label="#{sessionBean.language}">
                    <c:forEach items="#{sessionBean.languages}" var="l">
                        <p:menuitem value="#{l}" update="menuform" actionListener="#{sessionBean.lang(l)}"
                                    onsuccess="location.replace(location.href)"/>
                    </c:forEach>
                </p:submenu>
            </p:submenu>
            <f:facet name="options">
                <p:commandButton id="help" icon="fa fa-question" class="menubutton"/>
                <p:overlayPanel for="help" class="helppanel" at="left bottom" my="right top">
                    <h:outputText escape="false" value="#{bundle.WildcardHelp}" class="helptext"/>
                    <h:outputText escape="false" value="#{bundle.KeyHelp}" class="helptext"/>
                </p:overlayPanel>
            </f:facet>
        </p:menubar>
    </h:form>
</html>
