<!DOCTYPE html>
<html
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      class="#{testBean.test ? 'test' : ''}">

    <f:view locale="#{sessionBean.locale}">
        <h:head>
            <link rel="icon" 
                  type="image/png" 
                  href="#{request.contextPath}/faces/jakarta.faces.resource/images/fa-favicon.png"/>
            <title><ui:insert name="title">Default Title</ui:insert></title>
            <h:outputStylesheet library="webjars" name="font-awesome/5.15.4/css/all.min-jsf.css" />
            <h:outputStylesheet library="webjars" name="font-awesome/5.15.4/css/v4-shims.min-jsf.css" />
            <h:outputStylesheet library="css" name="fkw.css?v=2" />
        </h:head>

        <h:body styleClass="#{(sessionBean.currentTheme.startsWith('luna')
            || sessionBean.currentTheme.contains('dark')
            || sessionBean.currentTheme.contains('arya')
            || sessionBean.currentTheme.contains('vela')
            ) ? 'darktheme' : ''}">

            <p:ajaxStatus class="astat">
                <f:facet name="start">
                    <h:graphicImage  name="images/ajax_active.gif"/>
                </f:facet>
            </p:ajaxStatus>
            
            <p:growl id="growlerror" keepAlive="true" life="10000" severity="error" widgetVar="growlerror" sticky="false">
                <p:autoUpdate/>
            </p:growl>

            <p:growl id="growlwarn" keepAlive="true" life="5000" severity="warn" widgetVar="growlwarn"  sticky="false">
                <p:autoUpdate/>
            </p:growl>

            <p:growl id="growl" keepAlive="true" life="1000" severity="info" widgetVar="growl" style="z-index: 2000">
                <p:autoUpdate/>
            </p:growl>

                    <p:outputPanel id="body">
                        <ui:include src="menu.xhtml"/>
                        <ui:insert name="body"/>
                    </p:outputPanel>
            <p:idleMonitor timeout="60000" >
                <p:ajax event="active" async="true" listener="#{sessionBean.mayEdit()}" update="@none"/>
            </p:idleMonitor>

            <h:outputScript library="js" name="fkw.js?v=1"/>
            <c:if test="#{param['state'] == 'filtering'}">
                <script type="application/javascript">
                    $(document).ready(function () {
                        PF('datalist').filter();
                    });
                </script>
            </c:if>

            <p:ajaxExceptionHandler type="java.lang.Exception" onexception="$('.showerrors').fadeIn().fadeOut().fadeIn().fadeOut().fadeIn().fadeOut().fadeIn();"
                                    update="exceptionDialog growl"/>

            <p:dialog id="exceptionDialog" header="Fout '#{pfExceptionHandler.message}'!" widgetVar="exceptionDialog"
                      height="500px" closable="true" >
                <h1>Details van de laatst opgetreden fout.</h1>
                <h2>Als de toepassing gewoon werkt gaat het wsl. om een fout waar de toepassing goed mee omgaat.</h2>
                <h2>Verversen met F5 kan helpen, opnieuw inloggen ook.</h2>
                <h2>stuur evt. de details naar edrenth at fryske-akademy nl</h2>
                Details: <h:outputText value="#{pfExceptionHandler.formattedStackTrace}" escape="false" /> <br />

            </p:dialog>
        </h:body>
    </f:view>
</html>
