
<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
>

<h:head>
    <title>Sessie verlopen</title>
    <link href="#{request.contextPath}/faces/jakarta.faces.resource/css/fkw.css" rel="stylesheet"/>
    <link rel="icon"
          type="image/png"
          href="#{request.contextPath}/faces/jakarta.faces.resource/images/fa-favicon.png"/>
    <meta http-equiv="refresh" content="3;url=#{request.contextPath}" />
    <style>
        html { height: 100% }
        body {
            height: 100%;
            background-image: url("#{request.contextPath}/faces/jakarta.faces.resource/images/Fryske-Akademy-logo2.svg") !important;
            background-position: center !important;
            background-size: 20%;
            background-repeat: no-repeat !important;
            margin: 50px;
        }
        h3 {
            text-align: center
        }
    </style>
</h:head>

<h:body>
    <p:panel>
        <h3>
            Uw sessie is verlopen, &lt;enter> of klik hieronder of wacht 3 seconden.
        </h3>
        <p:link styleClass="center" href="#{request.contextPath}" id="tologin">
            opnieuw inloggen
        </p:link>
    </p:panel>


    <script type="application/ecmascript">
        document.getElementById('tologin').focus();
    </script>
</h:body>
</html>
