<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html  xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="HolLemma"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <c:set var="ctrl" value="#{holLemmaController}"/>
            <h:form id="Form"><p:commandButton styleClass="noEnter" tabindex="-1" value="" onclick="return false;"/>
                <p:remoteCommand name="buttons" update="download createButton copyButton paraButton deleteButton"></p:remoteCommand>
                <p:panel id="buttonpanel">
                    <p:link href="#" onclick="saveAll();return false;" value="#{bundle.saveAll}" styleClass="saveall" title="#{bundle['saveall.msg']}"/>
                    <p:commandButton value="#{bundle.Create}" actionListener="#{ctrl.editNew('datalist')}"
                                     disabled="#{ctrl.newEntity!=null }" id="createButton" rendered="#{sessionBean.mayEdit()}"
                                     update="@this datalist" styleClass="nieuw" />
                    <p:commandButton id="copyButton" update="@this datalist" accesskey="c" rendered="#{sessionBean.mayEdit()}"  
                                     value="#{bundle.Copy}" actionListener="#{ctrl.copy('datalist')}" disabled="#{empty ctrl.selected}"/>
                    <p:commandButton id="paraButton"    value="#{bundle.Para}" action="#{ctrl.showHolParadigmas(ctrl.selected)}" disabled="#{empty ctrl.selected}"/>
                    <p:commandButton id="deleteButton" accesskey="d" rendered="#{sessionBean.mayEdit()}"  value="#{bundle.Delete}"
                                     oncomplete="buttons();"
                                     actionListener="#{ctrl.destroy(ctrl.toDelete())}" update="datalist" disabled="#{ctrl.disableDelete()}">
                        <p:confirm header="#{bundle.akkoord}" message="#{ctrl.deleteTitle()}" icon="fa fa-exclamation" />
                    </p:commandButton>
                    <p:commandButton id="download" title="download" icon="fa fa-download" ajax="false"  disabled="#{lazyHolLemma.rowCount > 10000}">
                        <p:dataExporter type="csv" target="datalist" fileName="holLemmas" pageOnly="false"></p:dataExporter>
                    </p:commandButton>
                    <p:selectBooleanCheckbox value="#{ctrl.useOr}" itemLabel="#{bundle.of}" style="margin-left: 5px;">
                        <p:ajax update="datalist"/>
                    </p:selectBooleanCheckbox>
                </p:panel>
                <p:sticky target="buttonpanel">
                    <p:autoUpdate/>
                </p:sticky>
                <h:panelGroup>
                     <p:dataTable allowUnsorting="true" filterEvent="change" id="datalist" value="#{ctrl.lazyModel}" var="item"
                                 selection="#{ctrl.selected}" sortMode="multiple" selectionMode="single"
                                 paginator="true" editable="#{sessionBean.mayEdit()}" editingRow="#{sessionBean.mayEdit()}"
                                 rowKey="#{ctrl.getRowKey(item.id)}" filteredValue="#{lazyHolLemma.filtered}"
                                 rows="#{settings.rowsInTable}" lazy="true" draggableColumns="true" resizableColumns="true" liveResize="true" widgetVar="datalist"
                                 rowsPerPageTemplate="10,20,30,40,50" multiViewState="#{ctrl.rememberTableState}"
                                 currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords}"
                                 paginatorTemplate="{RowsPerPageDropdown} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">
                        <ui:include src="/datatable.xhtml"/>

                        <p:column class="row-editor" exportable="false" rendered="#{sessionBean.mayEdit()}">
                            <p:rowEditor />
                        </p:column>
<!--                        <p:column sortBy="#{item.id}" rendered="#{sessionBean.mayEdit()}">-->
<!--                            <f:facet name="header">-->
<!--                                <h:outputText value="id"></h:outputText>-->
<!--                            </f:facet>-->
<!--                            <h:outputText value="#{item.id}" />-->
<!--                        </p:column>-->
                        <p:column sortBy="#{item.foarm}" filterBy="#{item.foarm}" filterValue="#{lazyHolLemma.filters['foarm']}">
                            <f:facet name="header">
                                <h:outputText value="foarm"></h:outputText>
                            </f:facet>
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText value="#{item.foarm}"></h:outputText>
                                </f:facet>
                                <f:facet name="input">
                                    <p:inputText onchange="changed($(this))" id="foarm" value="#{item.foarm}"  />
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column sortBy="#{item.lemmaSelsNet}" rendered="#{sessionBean.mayEdit()}">
                            <f:facet name="header">
                                <h:outputText value="lemmaSelsNet"></h:outputText>
                            </f:facet>
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText value="#{item.lemmaSelsNet}"/>
                                </f:facet>
                                <f:facet name="input">
                                    <h:inputHidden value="#{item.lemmaSelsNet}"/>
                                    <h:selectBooleanCheckbox onchange="changed($(this))"  onclick="$(this).prev().val(this.checked)"  id="lemmaSelsNet" value="#{item.lemmaSelsNet}" required="true" requiredMessage="#{bundle.Required}"/>
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column sortBy="#{item.lemma}" filterBy="#{item.lemma}" filterValue="#{lazyHolLemma.filters['lemma']}">
                            <f:facet name="header">
                                <h:outputText value="lemma"></h:outputText>
                            </f:facet>
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText  value="#{item.lemma}"></h:outputText>
                                </f:facet>
                                <f:facet name="input">
                                    <p:autoComplete onchange="changed($(this))"  id="lemma" value="#{item.lemma}" completeMethod="#{lemmaController.complete}"/>
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                    </p:dataTable>
                </h:panelGroup>
            </h:form>
        </ui:define>
    </ui:composition>
</html>
